header {
    background-color: aqua;
    position: absolute;
    width: 100%;
    padding: 10px 0;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}